/* Шрифты */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Общие стили */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Шапка */
header {
    background-color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 20px;
  }
  
header nav ul li a {
    color: #ff6b6b;
    text-decoration: none;
}
nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}
  
nav li {
    margin-left: 30px;
}
header h1{
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-top: 50px;
  }
  
  .route-list {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .route {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }
  
  .route-title{
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 0;
  }
  
  .region,
  .difficulty,
  .dates,
  .zones {
    font-size: 16px;
    margin-top: 10px;
  }
  
  .btn-select {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .btn-select:hover {
    background-color: #3e8e41;
  }