<header>
    <h1>Туристическая компания "TuristPro"</h1>
    <nav>
        <ul>
            <li><a href="#about">О нас</a></li>
            <li><a href="#tours">Наши туры</a></li>
            <li><a href="#contact">Контакты</a></li>
	    <li><a href="#form">Оставьте заявку</a></li>
        </ul>
    </nav>
</header>
